<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:flex;flex-direction: column;width:500px;height:500px;margin:auto;">
        <input type="text" name="" id="input_text" style="width:100%;height:50px;font-size:30px">
        <div style="display:flex;flex-direction: row;justify-content: space-between;height:50px;width:100%;">
            <button style="cursor:pointer;width:100%;" id="FindByEan">Znajdz</button>
        </div>
        <div id="Container" style="display:flex;flex-direction:row;justify-content:space-between;width:100%;height:50px;margin-top:30px;">

        </div>
        <div id="Description" style="display:flex;flex-direction:row;justify-content:space-between;width:100%;height:100px;margin-top:20px;">

        </div>
        <div></div>
    </div>
  <script>
function PrintElem(elem)
{
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + ''  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + ''  + '</h1>');
    mywindow.document.write(elem);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
}
      let tmpData = {}
 
      
    function work(){
        tmpData={}
        document.getElementById('Container').innerHTML = ''
        document.getElementById('Description').innerHTML = ''
        document.getElementById('FindByEan').disabled = true
          const inputek = document.getElementById('input_text').value.trim()
          if(!inputek){
            document.getElementById('FindByEan').disabled = false
            document.getElementById('input_text').focus()
            return 
          }
            
            fetch('/getByEan', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({id:inputek})
            })
            .then((res)=>res.json())
            .then((res)=>{
                document.getElementById('FindByEan').disabled = false
                if('message' in res){
                    window.alert(res.message)
                    document.getElementById('input_text').value=''
                    document.getElementById('input_text').focus()
                }
         
                if('data' in res){
                    tmpData = res.data
                    const keys = Object.keys(res.data)
                    let string = ``
                    let   string_descriptions = ``
                    for(const x in keys){
                        if(tmpData[keys[x]].trim().length != 0 ){
                            string+=`
                            <button style="cursor:pointer;" id=${x}>${keys[x]}</button>
                            `
                            string_descriptions+=`<div><h1>${keys[x]}</h1><p>${tmpData[keys[x]].replace(/(\r\n|\n|\r)/gm, " ").replace(/\s\s+/g, ' ')}</p></div>`
                        }
                      
                    }
                    document.getElementById('Container').innerHTML = string
                    document.getElementById('Description').innerHTML = string_descriptions
                    const to_event =[... document.getElementById('Container').children]
                    console.log(to_event)
                    for(const y in to_event){
                        to_event[y].addEventListener('click',(e)=>{
                            const keys_obj = Object.keys(tmpData)
                            const element_data = tmpData[keys_obj[e.target.id]].replace(/(\r\n|\n|\r)/gm, " ").replace(/\s\s+/g, ' ');
                            PrintElem(element_data)
                            document.getElementById('input_text').value=''
                            document.getElementById('input_text').focus()
                            
                        })
                    }
                }
            })
            .catch((er)=>{
                console.log(er)
            window.alert('Wystapił błąd podczas łączenia')
            document.getElementById('FindByEan').disabled = false
            document.getElementById('input_text').value=''
            document.getElementById('input_text').focus()
            })
    }


    document.getElementById('FindByEan').addEventListener('click',work)
    document.getElementById('input_text').addEventListener('blur',()=>{
        document.getElementById('input_text').focus()
    })
    window.addEventListener('keypress',(e)=>{
        if(e.key == 'Enter')
            return work()
    })
  </script>
</body>
</html>